.root {
  --cols: 1;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1rem;
}

@media screen and (min-width: 390px) {
  .root {
    --cols: 2;
  }
}

@media screen and (min-width: 750px) {
  .root {
    --cols: 4;
  }
}

.category {
  background: var(--theme-card-bg-color);
  padding: 1rem;
  border: 1px solid var(--theme-card-bg-color);
  border-radius: 15px;
  text-decoration: none;
}

.category.active .title {
  color: var(--ifm-color-primary);
}

.category:hover .title {
  color: var(--ifm-color-primary);
}

.category.active {
  border-color: var(--palette-blog-category-color);
}

.category:hover {
  background: var(--theme-card-bg-color-hover);
  text-decoration: none;
}

.title {
  color: var(--palette-blog-title-color);
  margin: 0;
}

.description {
  margin: 0;
  color: var(--theme-card-text-color);
}
