.header,
.markdown,
.footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  line-height: 1.25;
}

.title a {
  color: var(--theme-text-color);
}

@media (min-width: 700px) {
  .title {
    font-size: 3rem;
  }
}

.header {
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.byline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.extras {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.extras :global(.separator) {
  flex: 1;
  height: 2px;
  background-color: var(--ifm-hr-border-color);
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.socialIcon {
  color: var(--ifm-color-content-secondary);
}

.date {
  font-size: 0.9rem;
}

.avatar {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: min-content;
  gap: 0 1rem;
}

.avatarPhoto {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarName {
  font-size: 1.2rem;
  margin: 0;
}

.avatarTitle {
  flex: 1 0 100%;
}

@media (min-width: 997px) {
  .header + [class^="tableOfContents"] {
    float: right;

    max-width: 250px;
    margin-right: 1rem;

    + .markdown {
      max-width: min(700px, calc(50% - 2rem));
      padding-right: calc(15px + 2rem);
    }
  }
}

.markdown h2 {
  font-size: 2rem;
}

.markdown h3 {
  font-size: 1.8rem;
}

.markdown h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.markdown h5 {
  font-size: 1.4rem;
  font-weight: 700;
}

.markdown h6 {
  font-size: 1.2rem;
  font-weight: 700;
}

.markdown {
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer {
  display: grid;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
