:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

@media (min-width: 998px) { /* lg */
  .DocSearch-Button {
    gap: 1rem;
  }
}

.DocSearch-Button-Placeholder {
  display: none;
}

@media (max-width: 1100px) {
  .DocSearch-Button-Keys {
    display: none;
  }
}
